<div class="gameRow" *ngFor='let game of games'>
    <div class="imgContainer">
        <img *ngIf='(game.cover)' height="100px" [src]="getGameCover(game)"/>
        <img *ngIf='!(game.cover)' height="100px" src='../../assets/images/no-cover.png'/>
    </div>
    <div class="midArea">
        <div class="headerRow">
            <div class="title">{{(game.name)?(game.id):('No Name')}}</div>
            <div class="releaseDate">{{(game.release_dates)?(game.release_dates[0].human | date):('No release date')}}</div>
        </div>
        <div class="summary">{{(game.summary)?(game.summary):('No Summary')}}</div>
    </div>
    <div class="actionButtons">
        <button *ngIf='game.url' (click)='openGameInfo(game)' target='_blank' class="btn btn-sm btn-success">More Info.</button>
        <button (click)='openGameReviewModal(game)' class="btn btn-sm btn-primary">Write Review</button>
    </div>
</div>