.pageContainer {
    margin: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
    .topRow {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        margin-bottom: 10px;
        .pageTitle{
            justify-self: left;
            font-weight: 600;
            font-size: 24px;
        }

        .btn {
            margin: 5px;
        }
        .searchBox{
            justify-self: right;
        }

        h6 {
            align-self: center;
        }
        .filters {
            justify-self: center;
        }
    }

    td{
        white-space: nowrap;
    }
    .buttonContainer {
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: center;
    }

    .tableContainer {
        width: 95%;
        justify-self: center;
    }
}

@media only screen and (max-width: 800px) {
    
    .pageTitle{
        display: none;
    }
}