<div class="pageContainer">
    <!-- Searching and stuff -->
    <div class="topRow">
        <div class="pageTitle">Games List</div>
        <div>
            <button class="btn btn-primary btn-sm" (click)='changeAgeRating()' *ngIf='ageRatingFormat == 1'>PEGI</button>
            <button class="btn btn-primary btn-sm" (click)='changeAgeRating()' *ngIf='ageRatingFormat == 0'>ESRB</button>
        </div>
        <div class="searchBox">
            <input [formControl]='searchTerm' type="text" value="" class="form-control" placeholder="Search...">
        </div>
    </div>
    <!-- Actual games list -->
    <div class="tableContainer">
        <table mat-table [dataSource]='games' class="mat-elevation-z8">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let game"> {{game.name}} </td>
            </ng-container>
            <ng-container matColumnDef="developer">
                <th mat-header-cell *matHeaderCellDef> Developer </th>
                <td mat-cell *matCellDef="let game"> {{game.name}} </td>
            </ng-container>
            <ng-container matColumnDef="publisher">
                <th mat-header-cell *matHeaderCellDef> Publisher </th>
                <td mat-cell *matCellDef="let game"> {{game.name}} </td>
            </ng-container>
            <ng-container matColumnDef="releaseDate">
                <th mat-header-cell *matHeaderCellDef> Release Date </th>
                <td mat-cell *matCellDef="let game"> {{game.name}} </td>
            </ng-container>
            <ng-container matColumnDef="ageRating">
                <th mat-header-cell *matHeaderCellDef> Age Rating </th>
                <!-- <td mat-cell *matCellDef="let game"> {{game.ageRating[ageRatingFormat].type}}: {{game.ageRating[ageRatingFormat].rating}} </td> -->
                <td mat-cell *matCellDef="let game"> {{game.name}} </td>
            </ng-container>
            <ng-container matColumnDef="actionButtons">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let game">
                    <button class="btn btn-success btn-sm" (click)='openGameInfoModal(game)'>More Info.</button>
                    <button class="btn btn-primary btn-sm" (click)='openGameReviewModal(game)'>Write Review</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
