<div class="pageContainer">
    <!-- Searching and stuff -->
    <div class="topRow">
        <div class="pageTitle" (click)='testButton()'>Games List</div>
        
        <h6>Sort By:</h6>
        <div class="filters">
            <button class="btn btn-primary btn-sm" (click)='changeSortType()'>
                {{sortType}}
            </button>
            <button class="btn btn-primary btn-sm" (click)='changeSortDirection()'>
                <mat-icon style='font-size: 1.2em; height: 20px;' >{{sortDirection}}</mat-icon>
            </button>
        </div>

        <div class="searchBox">
            <input [formControl]='searchTerm' type="text" value="" class="form-control" placeholder="Search...">
        </div>
    </div>
    <!-- Actual games list -->
    <div class="tableContainer" *ngIf='tableEnabled'>
        <app-games-table  [GamesInput]='games' ></app-games-table>
    </div>
</div>
