<div class="modalContainer">
  <div>{{data.name}}</div>
  <!-- <div>{{data.developer}}</div> -->
  <!-- <div>{{data.publisher}}<div> -->
  <!-- <div>{{data.ageRating[0].type}}: {{data.ageRating[0].rating}}</div> -->
  <!-- <div>{{data.ageRating[1].type}}: {{data.ageRating[1].rating}}</div> -->
  <div>
    <!-- <div *ngFor='let genre of data.genres'>{{genre}}</div> -->
  </div>
  <div>
    <!-- <div *ngFor='let platform of data.platforms'>{{platform}}</div> -->
  </div>
  <!-- <div>{{data.avgRating}}</div> -->
  <!-- <div>{{data.description}}</div> -->
</div>
