<div class="modalContainer" *ngIf='pageLoaded'>    
    <div class="imgContainer">
        <img *ngIf='(data.cover)' [src]="getGameCover()"/>
        <img *ngIf='!(data.cover)' src='../../../assets/images/no-cover.png'/>
    </div>

    <div class="gameTitle">
        {{(data.name)?(data.name):('Unknown')}}
    </div>
    
    <div class="gameInfo">
        <h5>Developer: </h5>
        <div>{{(devName)?(devName):('Unknown')}}</div>

        <h5>Average Rating: </h5>
        <div>{{(data.total_rating)?(data.total_rating):('Unknown')}}</div>

        <h5>Genre:</h5>
        <div>{{(devGen)?(devGen):('Unknown')}}</div>

        <h5>Platform:</h5>
        <div>{{(devPlat)?(devPlat):('Unknown')}}</div>

        <h5>Reviews:</h5>
        <div class="reviewsBox">
            <app-review-list *ngIf="reviews.length > 0" [reviewCollection]='reviews'></app-review-list>
            <div *ngIf='!(reviews.length > 0)'>No reviews for this game yet</div>
        </div>
    </div>
    
</div>