.modalContainer {
    display: grid;

    .imgContainer {
        justify-self: center;
        max-width: 200px;
        max-height: 300px;
    }
    .gameTitle {
        font-size: 32px;
        font-weight: 500;
    }
    .gameInfo {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(4,auto);
        grid-column-gap: 10px;

        .reviewsBox {
            border: 2px darkslategray groove;
            padding: 20px;
        }
    }
}