// Error message will be red
.error{
    color: red;
}
//styling for mat card
//Everything centered
mat-card  {
    max-width: 100%;
    margin-top: 5px;
    text-align: center;
    background:#343a40;
  }
  //full with of loaded page
  .full-width-input {
    width: 100%;
  }
  //button centered
.btn {
    align-content: center;
}
//header centered
.header{
    align-content: center;
}

  
