.error{
    color: red;
}
mat-card  {
    max-width: 100%;
    margin-top: 5px;
    text-align: center;
    background:#343a40;
  }
  .full-width-input {
    width: 100%;
  }
.btn {
    align-content: center;
}
.header{
    align-content: center;
}

  
