<div class="signin-content">
<mat-card>
  <div class="header">
        <h4>Please Login</h4>
      </div>
<mat-card-content>
  <form class="my-form" [formGroup] ="form" (ngSubmit)="login()">
    <mat-form-field class="half-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="half-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password">
  </mat-form-field>
  </form>
  <label class="error">{{errorMessage}}</label>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="login()" color="primary">Login</button>
</mat-card-actions>
  <button (click)="tryFacebookLogin()" class="btn btn-sm btn-social btn-facebook">
    <span class="fab fa-facebook-f"></span> Login in with Facebook
  </button>
  <br>
      <button (click)="tryGoogleLogin()" class="btn btn-sm btn-social btn-google">
          <span class="fab fa-google"></span> Login in with Google
        </button>  
</mat-card>
</div>
