<div class="navContainer">
    <!-- <div class="siteTitle">Game Review Site</div> -->
    <div class="siteTitle">
        <img src="../../assets/images/logo2.png"/>
    </div>
    <div class="normalNav">
        <a routerLink='home' routerLinkActive='active'>Home</a>
        <a routerLink='browse' routerLinkActive="active" *ngIf="userLoggedIn()">Browse </a>
    </div>
    <div class='loginRegisterNav'>
        <a (click)='onLogout()' *ngIf="isLoggedIn">Logout</a>
        <a routerLink='login' routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
        <a routerLink='register' routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
    </div>
</div>