.navContainer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 20px;
    padding: 10px;
    background: #343a40;

    .siteTitle {
        color: white;
        justify-self: left;
        align-self: center;
        margin-right: 20px;
        // font-size: 24px;

        width: 250px;
        img {
            min-width: 50px;
            width: 100%;
        }
    }
    .normalNav {
        justify-self: left;
        align-self: center;

        a {
            margin-right: 10px;
        }
    }
    .loginRegisterNav {
        justify-self: right;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 10px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    a :hover {
        cursor: pointer;
    }
    .active {
        color: #ff00f8;
    }
}

@media only screen and (max-width: 620px) {
    .siteTitle {
        display: none;
    }
}